<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002467421485-6l6q816edae25tsv712kl213hji3j2b4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002467421485-6l6q816edae25tsv712kl213hji3j2b4</string>
	<key>API_KEY</key>
	<string>AIzaSyB9dQwVjZGW6AmVeFYCb5WHPB9D-3vo40A</string>
	<key>GCM_SENDER_ID</key>
	<string>1002467421485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heangdev</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-5313e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-5313e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002467421485:ios:f8f59e2cf29ca46452b7a4</string>
</dict>
</plist>